<ion-content [fullscreen]="true">
  <ion-row class="login-container">
    <ion-col size="12" size-xl="6" class="login-background-image"></ion-col>
    <ion-col class="centered-content-container login-form-col">
      <div
        class="centered-content login-form"
      >
        <div>
          <h1>Donkey Tricount</h1>

          <h2>Sélectionner un utilisateur</h2>

          <ion-list>
            <ion-item *ngFor="let user of users" button (click)="login()">
              <ion-avatar slot="start">
                <img [src]="'/assets/avatars/' + user.avatar + '.svg'">
              </ion-avatar>
              <ion-label>
                {{ user.name }}
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>

      <app-page-loader [isLoading]="isLoading"></app-page-loader>
    </ion-col>
  </ion-row>
</ion-content>
